<div class="main">
  <div class="user-form-box">
    <h1>New YouTube</h1>

    <%= render 'form', youtube: @youtube, class: "btn btn-default"%>

    <div style="text-align: center;">
      <%= link_to 'Back', youtubes_path, class: "btn btn-default" %>
    </div><br>
  </div>
</div>
