<div class="main">
  <div class="user-form-box">
    <h1>Editing Job Hunting</h1>

    <%= render 'form', job_hunting: @job_hunting %>

    <div style="text-align: center;">
      <%= link_to 'Show', @job_hunting, class: "btn btn-default" %>
      <%= link_to 'Back', job_huntings_path, class: "btn btn-default" %>
    </div>
    <br>
  </div>
</div>
