<div class="main">
  <div class="user-form-box">
    <h1>Editing Programming</h1>

    <%= render 'form', programming: @programming %>

    <div style="text-align: center;">
      <%= link_to 'Show', @programming, class: "btn btn-default" %>
      <%= link_to 'Back', programmings_path, class: "btn btn-default" %>
    </div>
    <br>
  </div>
</div>
