<div class="main">
  <div class="user-form-box">
    <h1>New Programming</h1>

    <%= render 'form', programming: @programming, class: "btn btn-default"%>

    <div style="text-align: center;">
      <%= link_to 'Back', programmings_path, class: "btn btn-default" %>
    </div><br>
  </div>
</div>
