<div class="main">
  <div class="user-form-box">
    <h1>Editing Material</h1>

    <%= render 'form', material: @material %>

    <div style="text-align: center;">
      <%= link_to 'Show', @material, class: "btn btn-default" %>
      <%= link_to 'Back', materials_path, class: "btn btn-default" %>
    </div>
    <br>
  </div>
</div>
