<div class="main">
  <div class="centering">
    <div class="panel panel-primary" style="width: 100%; margin: auto;">
      <div class="panel-heading" style="text-align: center;"><%= @material.name %></div>
      <!-- Table -->

        <table class="table table-striped table-bordered table-hover">
          <tbody>
            <tr>
              <th style="width: 80px;">Content</th><td style="text-align: left;"><%= @material.content.gsub(/\r\n|\r|\n/, "<br />").html_safe %></td>
            </tr>
          </tbody>
        </table>

    </div><!--/panel-->
    <br>
    <div style="text-align: center;">
      <%= link_to 'Edit', edit_material_path(@material), class: "btn btn-default" %>
      <%= link_to 'Back', materials_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
